.container {
    border: 1px solid black;
    margin: 0;
}

.wrapper {
    /* background-color: rgb(53, 143, 204); */
    height: 50vh;
    border: 1px solid black;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #cf8a4a 5%, #b5753e 100%);
	background-color:#cf8a4a;
	border-radius:15px;
	border:1px solid #cf8a4a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #b5753e 5%, #cf8a4a 100%);
	background-color:#b5753e;
}
.myButton:active {
	position:relative;
	top:1px;
}