#profile-container {
    background-image: url('../../assets/ong3.JPG');
    background-size: cover;
}
.donations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donation {
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
}